.wrapper
    padding-left: 25%
    box-sizing: border-box
    height: 5%
    display: flex
    align-items: center
    cursor: pointer
    border-bottom: 1px solid #2628421F
    position: relative
    .lightningWrapper
        border-radius: 5px
        width: 20px
        height: 20px
        display: flex
        justify-content: center
        align-items: center
        margin: 0 5px
        background-color: #FAEFF2
    .name
        color: #262842
        margin-left: 8px
.wrapper:hover
    outline: 1px solid #497CF6
    box-sizing: border-box

.pos
    position: absolute
    left: calc(100% + 1px)
    background-color: #FFF2E0
    border-radius: 5px
    border: 1px solid #FFA530
    width: 10%
    height: 65%